* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 193, 145);
    padding: 48px; 
}

.container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    gap: 24px; /* Define el espacio entre filas y columnas */
    row-gap: 20px; /* Espacio entre filas */
    column-gap: 20px; /* Espacio entre columnas */
    
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(245, 114, 114);
}

.rosa {
    background-color: pink;
}

.verde {
    background-color: greenyellow;
}

.amarillo {
    background-color: yellow;
}

.morado {
    background-color: violet;
}

.azul {
    background-color: blue;
}