* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 193, 145);
    padding: 48px; 
}

.container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    gap: 24px; /* Define el espacio entre filas y columnas */
    grid-auto-flow: row; /* Es el valor por default */
    /* grid-auto-flow: column; /* Este valor cambia el flujo a columnas */ */

    /* Esto no es de Grid */

    /* Esto funciona para cambiar la dirección. */

    direction: rtl; /* left to right / right to left */
    
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(245, 114, 114);
}

.rosa {
    background-color: rgb(255, 125, 147);
}

.verde {
    background-color: greenyellow;
}

.amarillo {
    background-color: rgb(249, 241, 95);
}

.morado {
    background-color: rgb(214, 66, 255);
}

.azul {
    background-color: blue;
}

.container div {
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    color: white;
}