* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 193, 145);
    padding: 48px; 
}

.container {
    display: grid; /* Esto habilita el comportamiento de grid en el contenedor. */

    grid-template-columns: repeat(3, 1fr); /* Esto define el ancho de las columnas. */
    grid-template-rows: repeat(3, 1fr); /* Esto define el alto de cada fila */
    

    width: 500px;
    height: 500px;
    margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido. */
    background-color: whitesmoke;
}

.item {
    background-color: rgb(255, 246, 149);
}

/* 2(inicio) / 4(final) */

.item1 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: aqua;
}

.item2 {
    background-color: blueviolet;
    grid-column: 1 / 3;
    grid-row: 1 /3;
    border-radius: 50%;
}